.sidebar {
    /* flex-basis: 200px; */
    /* flex-basis: 200px; */
    
}

.sidebar ul li {
    cursor: pointer;
    transition: all 200ms ease-in;
}

.sidebar ul li:hover {
    background-color: #ecf1fe;
    /* opacity: 0.6; */
}

